C:/Users/DESARROLLO2/Documents/IATrivai/entornoMV filter=lfs diff=lfs merge=lfs -text
C:/Users/DESARROLLO2/Documents/IATrivai filter=lfs diff=lfs merge=lfs -text
entornoMV/Lib/site-packages/tensorflow/python/_pywrap_tensorflow_internal.pyd filter=lfs diff=lfs merge=lfs -text
